body {
    background-image: url("../assets/img/bg_pic.jpg");
    background-position: center;
    background-size:cover;
    background-attachment:fixed;
    font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin:  auto;
    padding:  auto;
}
.dashboard-container { 
    border: 25px solid #615813d0;
    margin: 50px;
    height: auto;
    padding: 5px;
    background-color: rgba(231, 236, 199, 0.585); 
    border-radius: 8px;
}
table {
    
    width: 70%;
    border-collapse:collapse;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #b4aa6bcc;
}
th {
    background-color: #f4f4f4;
    font-weight: 600;
    width: 100%;
}
header {
    display:flex;
    align-items:left; 
    padding: 10x 9%; 
    background-color: #b7a27dfa;
    color: #000000aa;
    align-items: left;
    justify-content:space-evenly;
}
header, footer{
    padding: 0px; ;
    background-color: #c2af5ad1;
    color:#000000aa;
}
footer{
    text-align: center;
    font-size: medium;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo {
    height:70px;
    width: 150px;
    margin-right: 20px;
}
.logotext{
   font-size: large;
   font-weight: bold;
   font-family:'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.signin-btn{
    align-items: center;
    color: #000;
    padding: 5px 5px;
    border: none;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    transition: transform 0.18s ease, box-shadow 0.18s ease, background-color 0.18s ease;
}